
<div class="formLogin ">
<form [formGroup]="formSignIn">
  
  
    <div class="container ">
        <p id="singin">SIGN IN</p>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" formControlName="uname" required>
     
      <!-- <span *ngIf="formSignIn.controls.uname.invalid" style="color: red;">* Username not empty and at least 5 characters </span><br/> -->
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="psw" required><br/>
      <!-- <span *ngIf="formSignIn.controls.psw.invalid" style="color: red;">* Password not empty and at least 3 characters </span><br/> -->
          
      <label>
        <input type="checkbox" checked="checked" formControlName="remember"> Remember me
      </label>
    </div>
  
    <div class="container" >
        <button (click)="onSubmit()" type="submit"  class="registerbtn" [disabled]="!formSignIn.valid">Sign In</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  
</div>