input[type=text], input[type=password] {
    width: 100%;
    padding: 13px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #aaaaaa;;
    background: #ffffff;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(33, 117, 185);
    outline: none;
    border-radius: 5px;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #0076e4;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .formRegister{
    width:fit-content;
   
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
   
     
  }

  @media only screen and (min-width:700px){
  
    .formRegister{
     
       
        box-shadow: none;
        border-radius: none;
        background-color: none;     
        
    }
    }
    

  @media only screen and (min-width:600px){
  
    .formRegister{
     
        width:550px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        
        background-color: rgb(255, 255, 254);
      
    }
    }
    

  .titleclass{
    font-size: 25px;
    font-weight: bold;
    color: blue;
    text-align: center;
  }
  .email{
    padding-top: 10px;
  }
  #male{
    vertical-align:middle;
    margin-left: 20px;
  }
  #lbMale{
    vertical-align:middle;
  }